<html>
<head>
	<!-- Google fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit:200,400">

	<!-- Materialize css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
 
  <!-- Ionicons CDN -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <!-- CSS for this project -->
  <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
	<div class="container">
		<todo>
			<h2>Todo list</h2>
			<ul>
				<!-- Loop all in todoList array. -->
				<li v-for="todo in todoList">
					<input type="checkbox" v-bind:checked="todo.done" v-on:change="toggleDoneTodo($index)" id="todo-{{ $index }}" />
					<label v-bind:class="{'todo-done': todo.done}" for="todo-{{ $index }}">
						{{ todo.text }}
					</label>

					<!-- Remove this todo from list. -->
					<a href="#" v-on:click.stop="removeTodo($index)">
						<i class="ion-android-close"></i></a>
				</li>
			</ul>

			<!-- Remove all todo that is marked as done. -->
			<!-- CODE HERE. -->

			<!-- Do method addTodo when submit -->
			<!-- with .prevent the submit event will no longer reload the page -->
			<form v-on:submit.prevent="addTodo">
				<label for="newTodo">Add new todo.</label>
				<!-- Bind input to newTodoText data. -->
				<input name="newTodo" v-model="newTodoText" />
				
				<button class="waves-effect waves-light btn">Add</button>
			</form>
		</todo>  
	</div><!-- /.mui-container -->
	
	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
		
  <!-- Materialize js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  	
	<!-- Vue JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
  
  <!-- Script for this project -->
  <script src="resources/js/script.js"></script>
</body>
</html>